#signin_menu {
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
  text-shadow:#fff 1px 1px 1px;
  background-color:#fff;
  -moz-box-shadow:inset 0 0 100px #F0F6FF; -webkit-box-shadow:inset 0 0 100px #F0F6FF; -khtml-box-shadow:inset 0 0 100px #F0F6FF; box-shadow:inset 0 0 100px #F0F6FF;
  display:none;
  position:absolute;
  width:216px;
  z-index:10;
  border:1px solid #057FA7;
  text-align:left;
  padding:12px;
  top: 35px; 
  right: 0px; 
  margin-top:7px;
  margin-right: 0px;
  margin-right: -1px;
  color:#111;
  font:12px Arial, sans-serif;
}
#signin_menu .arrow { background:url(../images/arrow-top.png) left top no-repeat; width:19px; height:10px; top:-10px; right:20px; position:absolute; }
#signin_menu input[type=text], #signin_menu input[type=password] {
  display:block;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #949898;
  font-size:13px;
  margin:0 0 5px;
  padding:5px;
  width:203px;
  margin-top:4px; margin-bottom:0px;
}
#signin_menu p {
  margin:0;
  font:12px Arial, sans-serif;
}
#signin_menu label.password { margin-top:4px; }

.formError  { font-size:14px; color:#FF0000; text-align:center; width:365px; margin:auto; margin-top:0px; }


#signin_menu a {
  color:#000; font-size:11px;
}
#signin_menu label {
  font-weight:normal;
}
#signin_menu p.remember {
  padding:10px 0;
  font-size:12px;
}
#signin_menu p.forgot, #signin_menu p.forgot-username, #signin_menu p.complete {
  clear:both;
  margin:5px 0;
  font-size:09px;
}
#signin_menu p a {
  color:#111; font-weight:bold;
}
#signin_submit {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#035D7F;
  border:1px solid #035D7F;
  color:#fff;
  text-shadow:0 -1px 0 #111;
  padding:4px 10px 5px;
  font-size:11px;
  margin:0 5px 0 0;
  font-weight:bold;
  font-size:12px;
}