<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: Twitter-based Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 45px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="images/favicon.png" alt="mozi" width="23" height=
            "23" ALIGN="MIDDLE"></a></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
               <li class="active"><a href="howitworks.html">How It Works</a></li>
              <li><a href="FAQ.html">FAQ & Fees</a></li>
              <li><a href="business.html">About</a></li>
                </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      
      
    <div class="container" style="margin-top:20px">

      <!-- Main hero unit for a primary marketing message or call to action -->
     <div class="row-fluid">
      <div class="span11 offset">
        <img src="images/dummyAbout.png" alt="Pulpit rock"  style="position:relative; top: -20px; left: 100px" >
      </div>


      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span7 offset1">
     
        
            <h2>Mozi lets you pay easier and safer</h2>
        <p>Transfer money between you and your friends with Mozi. Users enjoy simple one click transfers between friends on social media, as well as by e-mail
        and SMS. Send and request money from non-Mozi users as well. Best of all, it's free to join!</p>
        
        <img src="images/1signup.png">
        <br><br>
        <p>Sign up with a valid e-mail address to begin accepting payments from your friends. Once registered, users can link credit cards and bank accounts
        to start paying other Mozi users as well as non-Mozi users.</p>
        <img src="images/2link.png">
        <br><br>
        <p>Link your Mozi account to social media sites such as Twitter and Facebook to import your friends and start using one-click payments. Mozi lets users
            send money to non-Mozi users through e-mail and SMS text message. </p>
        <img src="images/3start.png">
        <p>Once you have a payment account linked, you'll be able to send money to your friend across the table or friends half-way around the world with a single
            click. Mozi offers secure and rapid payments at competitive rates from any device. Never get caught without enough cash. Mozi lets you conveniently pay 
            directly from any of your accounts.</p>
        
         <hr class="soften">
        
        <h3>Sending Money</h3>
        <p>Sending money is as easy as typing the name of your friend, entering the amount to send, and clicking send. Mozi also lets you write notes to help
            communicate the purpose of the payment as well. When you click 'send', Mozi notifies the recipient and awaits confirmation. Recipients have <b>7 days</b> to accept funds, otherwise payment is cancelled. When accepted Mozi debits your primary account the amount specified and transmits it to the recipient.</p>
        <h3>Receiving Money</h3>
        <p>Receive money by simply clicking 'accept' on the notification that appears on your dashboard. You receive the money instantly and you'll be able to cash out the amount immediately, or leave it in your Mozi balance. Users are given <b>7 days</b> to accept the payment.</p>
        <h3>Request Money</h3>
        <p>Mozi lets you request funds from both users and non-users via social media, text or e-mail. Simply write the name, twitter handle, e-mail or phone number, and we'll notify the person
            that you are requesting payment.</p>
        
        
    
        
        </div>
      
      <div class="span4">
          
          <img src="images/cloud.png" style="margin-top: 25px">

          </div>
        </div>

      
   
      <hr>

      <footer>
        <p>&copy; Mozi <a href="www.mozime.com">MoziMe.com</a> 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="C:/bootstrap-master/mySite/js/jquery.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-transition.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-alert.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-modal.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-dropdown.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-scrollspy.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tab.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tooltip.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-popover.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-button.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-collapse.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-carousel.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-typeahead.js"></script>

  </body>
</html>
