<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: Twitter-based Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/index.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="images/favicon_white.png" alt="mozi" width="23" height=
            "23"></a></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">Explore</a></li>
              <li class="active"><a href="howitworks.html">How It Works</a></li>
              <li><a href="hashtags.html">Hashtag Index</a></li>
              <li><a href="business.html">For Business</a></li>
  
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
     <div class="row-fluid">
      <div class="span8">
        <h1><img src="images/mozi_logo.png" alt="Pulpit rock" width="200" height="150" style="position:relative; top: -20px" > how it works</h1></div>
      <div class="inline">
        <p align="right" style="position:relative; top: 30px; right: 45px"><a href="C:/bootstrap-master/mySite/signup.html" class="btn btn-primary btn-large" style="position:relative; top: -7px; right: -40px">Join Now &raquo;</a></p>
      </div>
    


      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="wellmain span8">
          <h2><img src="images/mozibird.png" alt="Pulpit rock" width="150" height="150" style="position:relative; top: -20px" ><a href="https://twitter.com/signup">Get</a> a Twitter account</h2>
          <h2><img src="images/mozi_net.png" alt="Pulpit rock" width="150" height="150" style="position:relative; top: -20px" ><a href="signup.html">Join</a> Mozi with Twitter</h2>
          <h2><img src="images/mozi_creditcardtwitter.png" alt="Pulpit rock" width="150" height="150" style="position:relative; top: -20px" > Link your credit card</h2>
          <h2><img src="images/mozi_buynet.png" alt="Pulpit rock" width="150" height="150" style="position:relative; top: -20px" > <a href="hashtags.html">Tweet</a> to buy, share & recommend</h2>

        
        </div>
      
      <div class="wellmain span4">
        <h3 align="center"><u>mozi users</u></h3>
        <h2>#buy</h2>
        <h4>Buy stuff</h4>
        <h2>#share</h2>
        <h4>Share experiences</h4>
        <h2>#recommend</h2>
        <h4>Get recommendations</h4>
        <h2>#trending</h2>
        <h4>Find trending stores</h4>
        <h2>..and much <a href="hashtags.html">more</a></h2>
        

            </div>



          </div>

      
   
      <hr>

      <footer>
        <p>&copy; Mozi <a href="www.mozime.com">MoziMe.com</a> 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="C:/bootstrap-master/mySite/js/jquery.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-transition.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-alert.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-modal.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-dropdown.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-scrollspy.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tab.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tooltip.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-popover.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-button.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-collapse.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-carousel.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-typeahead.js"></script>

  </body>
</html>
