<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: Twitter-based Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/index.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 45px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="images/favicon.png" alt="mozi" width="23" height=
            "23" ALIGN="MIDDLE"></a></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
               <li class="active"><a href="howitworks.html">How It Works</a></li>
              <li><a href="FAQ.html">FAQ & Fees</a></li>
              <li><a href="business.html">About</a></li>
                </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      
      
    <div class="container" style="margin-top:20px">

      <!-- Main hero unit for a primary marketing message or call to action -->
     <div class="row-fluid">
      <div class="span8">
        <h1><img src="images/mozi_logo.png" alt="Pulpit rock" width="200" height="150" style="position:relative; top: -20px" > how it works</h1></div>
      <div class="inline">
        <p align="right" style="position:relative; top: 25px; right: 0px"><button class="btn btn-large btn-primary" type="button">Join Now</button><strong> It's free!</strong></p>
      </div>
    


      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span8">
     
        
            <h2>Mozi lets you pay easier and safer</h2>
        <p>Transfer money between you and your friends with Mozi. Users enjoy simple one click transfers between friends on social media, as well as by e-mail
        and SMS. Send and request money from non-Mozi users as well. Best of all, it's free to join!</p>
        
        
    
        
        </div>
      
      <div class="span4">

          <img src="images/lock.jpg" style="margin-left: 55px">

          </div>
        </div>

      
   
      <hr>

      <footer>
        <p>&copy; Mozi <a href="www.mozime.com">MoziMe.com</a> 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="C:/bootstrap-master/mySite/js/jquery.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-transition.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-alert.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-modal.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-dropdown.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-scrollspy.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tab.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-tooltip.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-popover.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-button.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-collapse.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-carousel.js"></script>
    <script src="C:/bootstrap-master/mySite/js/bootstrap-typeahead.js"></script>

  </body>
</html>
