<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: P2P Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li> <a href="#"><img src="images/favicon_logo.png" alt="mozi" width="60" height=
            "30" ALIGN="MIDDLE"></a></li>
            <li>
                 <input style="position: absolute; top: 10px" type="text" class="input-xlarge search-query" placeholder="Search friends or payments...">
               </li>
            </ul>
             
            
                  
                 <div style="float:right; padding-top: 3px" class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                   <img src="images/settingicon.png" alt="mozi" width="15" height="15"> Account
                      <span class="caret"></span>
                        </a>
                     <ul class="dropdown-menu">
                      <!-- log in -->
                            </ul>
                    </div>
              <p style="float:right; padding-top: 12px; padding-right: 10px;" >Chris Paquette</p>
              <div style="float:right; padding-top: 8px; padding-right: 10px;"><img src="images/userprofileimg.jpg" alt="mozi" width="30" height=
            "30"></div>
                  
            
            
           </div>
           
          </div><!--/.nav-collapse -->
        </div>
      </div>
  
      
       <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
              <li class="nav-header">myMozi Interface</li>
              <li><a href="interface.html"><i class="icon-chevron-right"></i> Dashboard</a></li>
              <li class="active"><a href="interface_closed.html"><i class="icon-chevron-right"></i> View All Transactions</a></li>
              <li><a href="interface_friends.html"><i class="icon-chevron-right"></i> View All Friends</a></li>
              <li><a href="interface_credit.html"><i class="icon-chevron-right"></i> Add/Delete Credit Card</a></li>
               <li><a href="interface_bank.html"><i class="icon-chevron-right"></i> Add/Delete Bank Account</a></li>
              <li><a href="interface_account.html"><i class="icon-chevron-right"></i> Manage Mozi Account</a></li>
              <li><a href="interface_help.html"><i class="icon-chevron-right"></i> Help</a></li>
            </ul>
          </div>
          
            
         <div id="space" style="padding-bottom:15px;">
           &nbsp;  </div>

            <!--TRANSACTION COLUMN-->
            
          <div class="well span9">
              <h3>Transaction History</h3>

            <form class="form-search">
           <input type="text" class="input-xlarge search-query">
             <button type="submit" class="btn">Search All Transactions</button>
              </form>

          <table class="table table-hover">
                  <td><strong>#</strong></td>
                  <td><strong>Time</strong></td>
                  <td><strong>Customer</strong></td>
                  <td><strong>Notes</strong></td>
                  <td><strong>Amount</strong></td>
                  <td><strong>Status</strong></td>
                  
                  <tr>
                    <td>5817</td>
                    <td>3:32pm</td>
                    <td>Chris Paquette <small>@irunthisblock2</small></td>
                    <td>#xlargecombo</td>
                    <td>$19.36</td>
                    <td>Requested</td>
                  </tr>
                  <tr>
                    <td>5816</td>
                    <td>12:11pm</td>
                    <td>Mohamed Nouh <small>@mohamednouh</small></td>
                    <td>French Toast</td>
                    <td>-$13.86</td>
                    <td>Paid</td>
                  </tr>
                  <tr>
                    <td>5815</td>
                    <td>7:28am</td>
                    <td>Lucas Espinoza <small>@lespino</small></td>
                    <td>#xlargecombo</td>
                    <td>$19.36</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5814</td>
                    <td>Jan 1, 2013</td>
                    <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5813</td>
                    <td>Jan 1, 2013</td>
                    <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5812</td>
                    <td>Jan 1, 2013</td>
                    <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5811</td>
                    <td>Jan 1, 2013</td>
                    <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5810</td>
                    <td>Jan 1, 2013</td>
                    <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5809</td>
                    <td>Jan 1, 2013</td>
                   <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5808</td>
                    <td>Jan 1, 2013</td>
                   <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5807</td>
                    <td>Jan 1, 2013</td>
                  <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
                  <tr>
                    <td>5806</td>
                    <td>Jan 1, 2013</td>
                  <td>George Murphy <small>@gmurphy19</small></td>
                    <td>#smallcombo</td>
                    <td>$7.72</td>
                    <td>Received</td>
                  </tr>
              </table>



          </div>

       </div>


         

      <hr>

      <footer>
        <p>&copy; Mozi www.mozime.com 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
