<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: Twitter-based Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="img/favicon_white.png" alt="mozi" width="23" height=
            "23"></a></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">Explore</a></li>
              <li><a href="howitworks.html">How It Works</a></li>
              <li><a href="hashtags.html">Hashtag Index</a></li>
              <li><a href="business.html">For Business</a></li>
  
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="navbar-wrapper">
        <h1>Join <img src="img/mozi_logo.png" alt="Pulpit rock" width="200" height="150" style="position:relative; top: -21px" ></h1>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span5">
          <form>
          <fieldset>
           <legend>Let's get started!</legend>
             <label>Twitter Name</label>
             <span class="input-xlarge uneditable-input">irunthisblock2</span>
             <label>Your E-mail Address</label>
             <input type="text" placeholder="sample@sample.com">
             <label>New Password</label>
             <input type="password" placeholder="">
             <label>Re-type Password</label>
             <input type="password" placeholder="">
             <label></label>
             <small>By clicking 'Sign Up' you agree to our <a href="#termsAgreement">Terms</a> and that you understand the Mozi <a href="#privacyPolicy">Privacy and Personal Information Use Policy</a>
            </small>
             <label></label>
             <a href="C:/bootstrap-master/mySite/signup.html" class="btn btn-primary btn-large" style="position:relative; top: -7px; right: -40px">Join Now &raquo;</a></div>
           </fieldset>
          </form>
        </div>
      
   		<div class="span6 offset1">
   			<div class="row">
   			<h2>Are you a business?</h2></div>
   			<div class="row">
   				<p class="lead">Start accepting Twitter payments immediately</p>
   			</div>
   			<div class="row">
   			<p><button class="btn btn-large btn-primary" type="button">Learn More</button></p></div>
   		</div>
    </div>

   
      <hr>

      <footer>
        <p>&copy; Mozi <a href="www.mozime.com">MoziMe.com</a> 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="C:/bootstrap-master/js/jquery.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-transition.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-alert.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-modal.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-dropdown.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-scrollspy.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-tab.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-tooltip.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-popover.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-button.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-collapse.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-carousel.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-typeahead.js"></script>

  </body>
</html>
