<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozi: Twitter-based Payment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 45px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="images/favicon.png" alt="mozi" width="23" height=
            "23" ALIGN="MIDDLE"></a></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
               <li><a href="howitworks.html">How It Works</a></li>
              <li><a href="FAQ.html">FAQ & Fees</a></li>
              <li><a href="business.html">About</a></li>
                </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="bs-docs-social">
        <h1><img src="images/mozi_logo.png" alt="Pulpit rock" width="200" height="150" style="position:relative; top: -21px" > new user registration</h1>
      </div>
      
      <div id="space" style="padding-bottom:20px;">
           &nbsp;
        </div>
      
    <div class="container">

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4" style="padding-left:45px;">
          <form>
          <fieldset>
              <legend><h2>It's free to join!</h2></legend>
              <label><b>First Name</b></label>
             <input type="text" placeholder="">
             <label><b>Last Name</b></label>
             <input type="text" placeholder="">
             <label><b>Valid E-mail Address</b></label>
             <input type="text" placeholder="">
             <label><b>Desired Mozi User Name</b></label>
             <input type="text" placeholder="">
             <label><b>New Password</b></label>
             <input type="password" placeholder="">
             <label><b>Re-type Password</b></label>
             <input type="password" placeholder="">
             <label></label>
             <small>By clicking 'Sign Up' you agree to our <a href="#termsAgreement">Terms</a> and that you understand the Mozi <a href="#privacyPolicy">Privacy and Personal Information Use Policy</a>
            </small>
             <label></label>
             <p><a href="C:/bootstrap-master/mySite/regcheckemail.html" class="btn btn-large btn-primary" type="button">Sign Up</a></p>
           </fieldset>
          </form>
        </div>
      
   		<div class="span6 offset1">
   			<div class="row" style="position:relative; top: -10px; right: 0px">
        <h3 align="center">Send money to friends and family <u>instantly</u></h3></div>

          <div class="span9 offset2" style="padding-bottom:25px;">
            <img src="images/peoplephones2.jpg" alt="Pulpit rock"/>
            </div>
                    
                    <div class="row">
        <div class="span6" align="center">
        <h2 align="center">2.9% + $0.30</h2>
         <h4>per transaction in Mozi Beta</h4>
        </div>
   	<div class="span6"  align="center">
   			  <h5>No Monthly Fees</h5>
          <h5>No Setup Fees</h5>
          <h5>No Recurring Fees</h5>
   	</div>
    </div>

                </div>
          
      </div>
    
   
</div>


      <hr>
      <div class="span12" style="padding-left:25px">
        <p>&copy; Mozi <a href="www.mozime.com">MoziMe.com</a> 2013</p>
     </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="C:/bootstrap-master/js/jquery.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-transition.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-alert.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-modal.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-dropdown.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-scrollspy.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-tab.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-tooltip.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-popover.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-button.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-collapse.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-carousel.js"></script>
    <script src="C:/bootstrap-master/js/bootstrap-typeahead.js"></script>

  </body>
</html>
